
@{
    ViewBag.Title = "GetTable";
}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" style="margin:5px;">
                <div class="navbar-brand  text-danger ">Admin panel</div>
            </li>
            <li class="nav-item" style="margin:5px;">
                <h3>@Html.ActionLink("Home", "Index", "Car", null, new { @class = "badge badge-pill badge-info" })</h3>
            </li>
            <li class="nav-item " style="margin:5px;">
                <h3><p>@Html.ActionLink("Добавить", "Add", null, new { id = 0 }, new { @class = "badge badge-pill badge-success my-2 my-sm-0" })</p></h3>
            </li>
            @*<h5 style="margin:5px;">
                @Html.DropDownList("PagesOn", new SelectListItem[]
        { new SelectListItem {Text = "3", Value="3" },new SelectListItem {Text = "5", Value="5" },
        new SelectListItem {Text = "10", Value="10" }}, new { @class = "custom-select" })
            </h5>*@
        </ul>
        @*<form class="form-inline my-2 my-lg-0">
            <input class="form-control my-2 mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>*@
    </div>
</nav>
<table class="table table-striped text-center">
    <thead>
        <tr>
            <th scope="col">№ п/п</th>
            <th scope="col">Категория</th>
            <th scope="col">Модель</th>
            <th scope="col">Возраст</th>
            <th scope="col">Цена</th>
            <th scope="col">Цвет</th>
            <th scope="col">Изображение</th>
            <th>Изменить</th>
            <th>Удалить</th>
        </tr>
    </thead>
    <tbody id="cars_list">
        @foreach (var i in ViewBag.Cars)
            {
            <tr scope="row">
                <td>@i.CARId</td>
                <td>@i.Category</td>
                <td>@i.CarName</td>
                <td>@i.Age</td>
                <td>@i.Price</td>
                <td>@i.Color</td>
                <td>@i.CarImage</td>
                <td>@Html.ActionLink("Изменить", "Edit", new { id = @i.CARId }, new { @class = "btn btn-outline-warning" })</td>
                <td>@Html.ActionLink("Удалить", "Remove", new { id = @i.CARId }, new { @class = "btn btn-outline-danger" })</td>
            </tr>
        }
    </tbody>
</table>
@*<center>
    <div>
        @for (int i = 0; i < ViewBag.PageCount; i++)
            {
            @Ajax.ActionLink($"{@i + 1}", "GetTable", new { id = i + 1 }, new AjaxOptions { UpdateTargetId = "cars_list" }, new { @class = "btn btn-outline-secondary" })
        }
    </div>
</center>*@


